@charset "utf-8";

* {
	margin:0;
	padding:0;
}

@font-face {
	font-family: "VAG";
	src: url('../fonts/vaground/VAGRoundedStd-Bold.eot');
	src: url('../fonts/vaground/VAGRoundedStd-Bold.eot?');
	src: url('../fonts/vaground/VAGRoundedStd-Bold.otf');
	
	font-weight: bold;	
}



@font-face {
	font-family: "VAG";
	src: url('../fonts/vaground/VAGRoundedStd-Thin.eot');
	src: url('../fonts/vaground/VAGRoundedStd-Thin.eot?');
	src: url('../fonts/vaground/VAGRoundedStd-Thin.otf');	

}

@font-face {
	font-family: "OPENSANS";
	/*src: url('../fonts/vaground/VAGRoundedStd-Thin.otf');*/
	src: url('../fonts/open-sans/opensans-regular.ttf');
}


@font-face {
    font-family: "OPENSANS";
    font-weight: bold;
	src: url('../fonts/open-sans/opensans-bold.ttf');
}

/**********************************************************************************  Structure TEMPLATE - EXTRANET ***************************************************************************************/
body {
	background: #FFF;
	color: #000;
	/*font-family:'VAG',verdana,helvetica,arial,sans-serif;*/
	font-size: 12px;
	margin: 0;
}

#header{
	background:#FFF;
	width:100%;
	color:#FFF;
	text-align: center;
	border-bottom:1px solid #CCCCCC;
}

#container{	

}

#applis a{
	color: #000;
}

#applis .col-md-8:hover{
	text-decoration: underline; !important
}





#footer{
	background:#F0F0F0;
	font-size: 90%;
	text-align: center;
    clear: both;
	padding: 10px;
	border-top:1px solid #CCCCCC;
}


/**********************************************************************************   ***************************************************************************************/
#EspacePrive{
	margin: auto;
	width: 300px;



}

#EspacePrive2{
	margin: auto;
	width: 750px;



}



.module{
	font-size: 10px;
	margin-top:5%;
	margin-bottom:5%;
	padding-left:15%;
	
	text-align:left; 
	background-color:#F0F0F0;
	
	cursor: pointer;
}



.bulle{
	
	
	text-align: right;
}

.detail_module{
	font-family:'VAG',arial,helvetica,arial,sans-serif;
	line-height: 140%;
	font-size: 130%;
}

.module h4{
	font-family:'VAG',arial,helvetica,arial,sans-serif;
	font-size: 200%;
	font-weight: bold;
}

.type_module{
	float: left;
	border-top:1px solid #CCCCCC;
	width: 100%;
}

.type_module a{
	color:#000;
}

.lienApplis:hover{
	text-decoration: underline;
}

#EspacePublic{	
	float:left;
	width:50%;
	border-right: 1px solid #CCC;
}

.titre_prive {
	border-bottom:1px solid #CCC;
	font-size : 180%;
	height:60px;


}

.titre_askUser {
	border:1px solid #CCC;
	font-size : 180%;
	height:60px;
	line-height:55px;
	background-image:url('../img/icons/icon_ajout.png');
	background-repeat: no-repeat;
	background-position:10px center;
	padding-left:70px;
	margin-bottom:20px;
}

.titre_public {
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	font-size : 180%;
	height:60px;
	line-height:55px;
	padding-left:20px;
	margin-bottom:20px;
}

.connexion{
	margin-top:10px;
	margin-bottom : 1%;
	padding:2%;
	clear:both;
}

#seConnecter {
	margin-left:205px;
}

.bloc_applis{
	border-left:1px solid #CCC;
	padding:10px;
}


.ActiveAppli {
	color:#000;
	border:1px solid #FFF;
}

.ActiveAppli:hover {
	border:1px solid #CCC;
	cursor:pointer;
	background: #F0F0F0;
}

#picture {
    float:left;
    width: 50px;
    padding:5px;
}

.titreAppli {
font-size: 12px;
padding:10px;
text-align:left;	}



/**********************************************************************************  BALISE COURANTE  ***************************************************************************************/
a {
	color: #333;
	text-decoration:underline;
	
}
a:hover {	
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
}
h2 {
	background:#fff;
	color: #e32;

	font-size: 190%;
}
h3 {
	color: #2c6877;

	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}


ul, li {
	margin: 0 12px;
}

p {
	margin: 0 0 1em 0;
}



.ajax-btn{
	padding:3px;
}

.help{
	border:1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	padding:10px;
	margin-bottom:10px;
}

.imgAlign{
	float:left;
	padding-right:10px;
}

.icone_aide {
padding-right:10px;
}

.colonne1{
	border-right:1px solid #CCCCCC;
	padding-right:10px;
	width:50%;
}



#droit_utilisateur{

	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	padding: 3px;
	font-size: 9px;
	position:absolute;
	top : 64px;
	left : 69.5%;
	width: 20%;

}

#etat_connexion img {
	vertical-align: middle;
	display: inline-block; 
	}
	
#droit_utilisateur img {
	vertical-align: middle;
	display: inline-block; 
	}



.menu_item {
	border-bottom:1px solid #CCCCCC;
	padding : 5px;
	cursor:pointer;
	font-size: 12px;
	text-decoration: none;
}

.menu_item:hover {
	background-color: #F0F0F0;
	border-bottom:1px solid #333;
}

.menu_item img {
	vertical-align: middle;
	display: inline-block; 
	padding-right:10px;
	}

.menu_titre{
	border-bottom:1px solid #CCCCCC;
	padding : 11px;
	font-size:140%;
	color:#003d4c;
	background-color: #F0F0F0;

}

#pagination{
	font-size: 11px;
	text-align: right;
    clear: both;
	padding: 3px;
	border:1px solid #CCCCCC;
	border-radius:5px;

}


/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:10px 2%;
}
div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;

}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 2px;
	text-align: left;
	vertical-align: middle;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
	background: #f9f9f9;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}


/* SQL log */
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}


form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}


/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

/**  Actions  **/
.actions ul {
	margin: 0;
	padding: 0;
}
.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}

/* Buttons and button links */


/** Related **/
.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 15px;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
	padding: 0;
	position: relative;
}
.cake-debug-output > span {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(255, 255, 255, 0.3);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 6px;
	color: #000;
	display: block;
	float: left;
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
	font-size: 16px;
	line-height: 20px;
	clear: both;
}
.cake-error > a {
	text-shadow: none;
}
.cake-error {
	white-space: normal;
}
.cake-stack-trace {
	background: rgba(255, 255, 255, 0.7);
	color: #333;
	margin: 10px 0 5px 0;
	padding: 10px 10px 0 10px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.cake-stack-trace a {
	text-shadow: none;
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0px 4px 10px 2px;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	text-decoration: none;
	-moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
.cake-context {
	margin-bottom: 10px;
}
.cake-stack-trace pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px 0 10px 0;
	padding: 1em;
	overflow: auto;
	text-shadow: none;
}
.cake-stack-trace li {
	padding: 10px 5px 0px;
	margin: 0 0 4px 0;
	font-family: monospace;
	border: 1px solid #bbb;
	-moz-border-radius: 4px;
	-wekbkit-border-radius: 4px;
	border-radius: 4px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
.code-coverage-results div.covered span.content {
	background:#cec;
}
.code-coverage-results div.ignored span.content {
	color:#aaa;
}
.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
.code-coverage-results span.line-num strong {
	color:#666;
}
.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
.code-coverage-results div.realstart {
	margin-top:0px;
}
.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
.code-coverage-results span.result-bad {
	color: #a00;
}
.code-coverage-results span.result-ok {
	color: #fa0;
}
.code-coverage-results span.result-good {
	color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
	display:none;
}

/**********************************************************************************  MESSAGE FLASH ***************************************************************************************/
.msg_success{
	padding: 10px;
	color: #FFF;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #0ed313;
}

.msg_false{
	padding: 10px;
	color: #FFF;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: #F00;
}

.title-content {
	padding: .6%;
	font-size: 160%;
	/*height: 45px;*/
	
	border-bottom: 1px solid #CCC;

}


.derotated{
	-webkit-transform: rotate(-359deg) scale(1) skew(1deg) translate(0px);
	-moz-transform:rotate(-359deg) scale(1) skew(1deg) translate(0px);
	-o-transform:rotate(-359deg) scale(1) skew(1deg) translate(0px);
	-ms-transform:rotate(-359deg) scale(1) skew(1deg) translate(0px);
}

.fond{
	position:relative;
	width: 500px;

	top:100%;
	z-index: 0;
}

.rouge{
	top:45%;
	background: #e2004f!important;
	height: 25%;
}

